body {
    background-color: aquamarine; 
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    align-items: center;
    justify-content: center;
}

img {
    max-width: 50%;
    max-height: 50%;
    float: left;
}

.sidetext {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20%;
    float: left;
}

.text {
    clear: left;
}